*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bgc-purple{
    background-color: rgb(151,146,228);
}

.bgc-bluecards{
    background-color: rgb(181,221,255);
}

.pad20{
    padding: 20px;
}

/* HEADER LAYOUT */

.header{
    width: 100%;
    padding: 0 20px;
    background-color: rgb(0,132,253);
}

.row-header{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: baseline;
    padding: 10px;
}

.logo{
    vertical-align: middle;
}

.fa-bars{
    font-size: 20px;
    vertical-align: middle;
    color: white;
}

/* MAIN LAYOUT */

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.row{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.col{
    width: 100%;
    padding:0 10px;
    margin: 20px auto;
}

/* BLUE CARDS */

button{
    font-size: 20px;
    color: white;
    border: none;
    padding: 5px 40px;
    border-radius: 20px;
    background-color: rgba(0,132,253,255);
    margin: 20px 0;
}

.phone{
    width: 100%;
}

.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.cards p{
    text-align: center;
}

.cards #icons{
    color: rgb(0,132,253);
    font-size: 60px;
}

.cards h3{
    font-size: 25px;
    color: rgb(0,132,253);
    margin: 30px auto;
}

.cards p{
    text-align: left;
    color: grey;
    font-weight: 100;
}

/* PURPLE SECTION 1 */

.planning{
    width: 100%;
    color: white;
}

.planning img{
    width: 100%;
}

.planning h2{
    font-size: 30px;
    margin: 30px 0;
}

.planning p, .planning-white p{
    line-height: 25px;
}

.planning-white{
    background-color: white;
    padding: 10px;
    border-radius: 40px;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.planning-white img{
    width: 100%;
}

.planning-white h3{
    margin: 20px 0;
}

.planning-white p{
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}

.planning-white button{
    background-color: rgb(151,146,228);
    color: black;
}

/* TESTIMONIALS intro and 3 cards */

/* INTRO */
.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro h2{
    font-size: 25px;
    margin: 30px 0;
    color: rgb(151,146,228);
}

.intro p{
    font-weight: lighter;
    line-height: 27px;
}

/* TESTIMONIALS CARDS */

.partner-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: rgb(151,146,228);
    border-radius: 40px;
    padding: 30px 15px;
}

.partner-card img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.partner-card p{
    font-weight: lighter;
    line-height: 27px;
    margin: 20px 0;
}


/* BENEFITS SECTION */

.benefit-card{
    padding: 10px 30px;
    background-color: white;
    border-radius: 20px;
}

.benefit-card h2, .benefit-card h3{
    color: rgb(151,146,228);
}

.benefit-card button{
    color: white;
    background-color: rgb(151,146,228);
}

.benefit-card p{
    font-size: 15px;
    line-height: 25px;
    font-weight: lighter;
}

.benefit-card h2{
    font-size: 40px;
}

.benefit-card > *{
    margin: 20px 0;
}

/* ABOUT US */

.about h2{
    font-size: 40px;
    color: rgb(151,146,228);
    margin: 30px 0;
}

.about p{
    line-height: 35px;
    font-weight: lighter;
    margin: 30px 0;
}

/* CEO */

.CEO img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 100%;
}

.CEO h3{
    color: rgb(151,146,228);
    line-height: 32px;
    font-size: 25px;
}

.CEO button{
    background-color: rgb(151,146,228);
    font-weight: lighter;
    font-size: 15px;
}

.CEO > *{
    margin: 10px 0;
}

/* GET STARTED */

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.start > *{
    margin: 20px 0;
}

h1{
    font-size: 50px;
    color: sandybrown;
}

.start button{
    background-color: white;
    color: rgb(151,146,228);
    font-weight: bolder;
    padding: 20px 60px;
    border-radius: 40px;
    font-size: 15px;
}

/* FOOTER */

footer{
    background-color: rgb(51, 51, 51);
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(220, 220, 220);
    gap: 60px;
    justify-content: space-between;
    font-size: 13px;
}



/* RESPONSIVE LAYOUT */

@media screen and (min-width: 768px) {
    .container{
        width: 100%;
        margin: 0 auto;    
    }

    .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .w-bg{
        width: calc(100% / 3 * 2 - 20px);
        margin: 10px;
    }
    
    .w-sm{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }

    .w-md{
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }

  }